{% extends "global/Page.html" %}
{% block title %}Постэкспериментальный опрос: Восприятие ИИ{% endblock %}

{% block content %}

<p>
Пожалуйста, ответьте на вопросы по шкале от <b>1</b> до <b>10</b>.
</p>

<hr>

<h4>Проверка внимательности</h4>
<p><i>1 = полностью не согласен(на), 10 = полностью согласен(на)</i></p>
{{ formfield 'attn_1' }}

<hr>

<h4>Раздел 1. Осознание неоднородности ИИ</h4>
<p><i>1 = полностью не согласен(на), 10 = полностью согласен(на)</i></p>
{{ formfield 'het_1' }}
{{ formfield 'het_2' }}
{{ formfield 'het_3' }}

<hr>

<h4>Раздел 2. Использование ИИ / опыт</h4>
<p>
<i>
USE_1: 1 = никогда, 10 = очень часто<br>
USE_2: 1 = совсем не компетентен(на), 10 = очень компетентен(на)<br>
USE_3: 1 = совсем не полезными, 10 = чрезвычайно полезными
</i>
</p>
{{ formfield 'use_1' }}
{{ formfield 'use_2' }}
{{ formfield 'use_3' }}

<hr>

<h4>Раздел 3. Следование рекомендациям ИИ в стратегических ситуациях</h4>
<p><i>1 = совершенно не вероятно, 10 = совершенно точно</i></p>
{{ formfield 'def_1' }}
{{ formfield 'def_2' }}
{{ formfield 'def_3' }}

<hr>

<h4>Раздел 4. Проверка и скептицизм</h4>
<p><i>1 = никогда, 10 = всегда</i></p>
{{ formfield 'ver_1' }}
{{ formfield 'ver_2' }}
{{ formfield 'ver_3' }}

<hr>

<h4>Раздел 5. Эпистемическое доверие / убеждения о точности</h4>
<p><i>1 = полностью не согласен(на), 10 = полностью согласен(на)</i></p>
{{ formfield 'acc_1' }}
{{ formfield 'acc_2' }}
{{ formfield 'acc_3' }}

<hr>

<h4>Раздел 6. Ментальная модель ИИ в играх</h4>
<p>
<i>
MM_1: 1 = полностью не согласен(на), 10 = полностью согласен(на)<br>
MM_2: 1 = легче предсказать человека, 10 = легче предсказать ИИ<br>
MM_3–MM_5: 1 = полностью не согласен(на), 10 = полностью согласен(на)
</i>
</p>
{{ formfield 'mm_1' }}
{{ formfield 'mm_2' }}
{{ formfield 'mm_3' }}
{{ formfield 'mm_4' }}
{{ formfield 'mm_5' }}

<hr>

{% next_button %}

{% endblock %}